[Unit]
Description=Ubisoft %i lobby server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dcnet
WorkingDirectory=/usr/local/ubisoft
ExecStart=/usr/local/ubisoft/gs_lobby -c %i.cfg

[Install]
WantedBy=multi-user.target
